.loader {
  flex-grow: 1;
  background-color: #181818;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-text {
  font-size: 25px;
  font-weight: 700;
}

.loading-image {
  height: 62px;
  width: 148px;
}
